:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue:hsl(244, 38%, 16%);
    --solf-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white-main-p: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-state-heading: hsla(0, 0%, 100%, 0.6);
}

* {
    font-family: 'Inter', sans-serif;
}

body {
    /* font-family: 'Lexend Deca', sans-serif; */
    background-color: var(--very-dark-blue);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

section {
    background-color: var(--dark-desaturated-blue);
    /* width: 55em; */
    /* height: 25em; */
    display: flex;
    /* flex-direction: row; */
    margin: 100px;
    border-radius: 5px;
    /* position:  */
    
}

/* .flex-item-left {
    flex: 50%;
}

.flex-item-right {
    flex: 50%;
} */

h1 {
    color: var(--slightly-transparent-white-main-p);
}

img {
    height: 50%;
    width: 50%;
    /* display: ; */
}

.header-paragraph {
    margin: 40px;
}

.information {
    border: 1px solid red;
}
